{% extends 'user/base.html' %}
{% block content %}
<html>
<head>
    <title>Exam</title>
</head>
<body>
<div class="container">
    <h1 class="text-danger mt-3">Bài thi</h1>
    <hr>
    <form method="POST">
        {% for question in  questions %}
            <table>
                <tr>
                    <td>{{question.ordering}} - {{question.body}}</td>
                </tr>   
                    {% for answer in question.answer_set %}
                        <tr>
                            <td><input type = "radio" class="" name="ans_{{question.pk}}" value="{{answer.ordering}}">{{answer.body}}</td>
                        </tr>
                    {% endfor %}
            </table>
        <hr>
        {% endfor %}

        <input type="submit" class="btn btn-success" value="Nộp bài">
        <br>
    </form>
</body>
</html>
{%endblock%}