{% extends 'user/base.html' %}
{% block content %}
<style>
  .total-video{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    background: #F8F9FA;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:0 auto;
  }
  .gallery a{
    height: 300px;
    width: 330px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
  }
  .gallery a img{
    height: 100%;
    width: 100%;
    object-fit : cover;
  }
  .gallery a img:hover{
    transform:scale(1.4)
  }

</style>
<div class="container mt-5">
  <h1 class="text-center">Video Giới Thiệu</h1>
  <!-- Video -->
  <div class="total-video">
    <div class="gallery">
          <a href="/static/images/anh1.jpg" class="image anh1">
              <img src="static/images/anh1.jpg" alt="">
          </a>
          <a href="/static/images/anh1.jpg" class="image anh1">
            <img src="static/images/anh1.jpg" alt="">
          </a>

          <a href="/static/images/anh1.jpg" class="image anh1">
            <img src="static/images/anh1.jpg" alt="">
          </a>

          <a href="/static/images/anh1.jpg" class="image anh1">
            <img src="static/images/anh1.jpg" alt="">
          </a>

          <a href="/static/images/anh1.jpg" class="image anh1">
            <img src="static/images/anh1.jpg" alt="">
          </a>

          <a href="/static/images/anh1.jpg" class="image anh1">
            <img src="static/images/anh1.jpg" alt="">
          </a>
      </div>
  </div>
  <h1 class="text-center pt-5">Môn Học</h1>
  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled row">
        {% for subject in subjects %}
          <li class="list-item col-sm-4 mt-3">
            <div class="card">
              <img src="/{{subject.image}}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{subject.name}}</h5>
                    {% if subject.pk in enrolled %}
                      <a href="{% url 'result' subject.id %}" class="btn btn-primary">Xem kết quả</a>
                    {% else %}
                      <a href="{% url 'register-subject' subject.id %}" class="btn btn-primary">Đăng Kí</a>
                    {% endif %}
                </div>
            </div>
          </li>
        {%endfor%}
      </ul>
    </div>
  </div>
  
  <footer class="mt-5 mb-3">
    <div class="text-center"></div>
  </footer>
</div>
<script>
  lightGallery(document.querySelector('.gallery'));
</script>
{% endblock %}