{% extends 'base.html' %} 
{% block navbar %} 
{% with page=5 %} 
{{block.super }} 
{% endwith %} 
{% endblock %} 
{% block content %}
<div class="container pt-5">
    <h2>Danh sách đề thi</h2>
    <form class="pt-3">
      <div class="row">
        <div class="col-4">
          <input name="keyword" value="{{filters.keyword}}" class="form-control" placeholder="Nhập từ khóa để tìm kiếm"/> 
        </div>

        <div class="col-4" >
          <select name="subject_id" class="form-control">
            <option value="">-----Chọn môn học----</option>
            {% for subject in subjects %}
            <option value="{{ subject.id }}" {% if filters.subject_id|add:0 == subject.id %} selected {%endif%}>
              {{subject.name}}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-2" style="">
          <button class="btn btn-primary">Tìm kiếm</button>
        </div>
        <div class="col-2 ">
          <a href='{% url "document-create" %}' class="btn btn-primary">Thêm đề thi</a>
        </div>
      </div>
    </form> 
    <table class="table table-bordered">
      <tr>
        <th style="width: 5%" class="text-center">STT</th>
        <th style="width: 25%" class="text-center">Môn học</th>
        <th style="width: 15%" class="text-center">Mã đề thi</th>
        <th style="width: 15%" class="text-center">Số lượng câu hỏi</th>
        <th style="width: 20%" class="text-center">Trạng thái xuất bản</th>
        <th style="width: 30%" class="text-center">Thao tác</th>
      </tr>
      {% for document in documents %}
      <tr>
        <td class="text-center">{{ forloop.counter0|add:documents.start_index}}</td>
        <td class="text-center">{{ document.subject.name }}</td>
        <td class="text-center">{{ document.code }}</td>
        <td class="text-center">{{ document.num_question }}</td>
        <td class="text-center">
          <input document-id="{{document.id}}" data-toggle="toggle" data-onstyle="success" data-size="mini" 
            class="toggle-event" type="checkbox" {% if document.status %}checked{%endif%}/>
        </td>
        <td class="text-center">
           <a href='{% url "upload-file" document.id %}'class="btn btn-success" >Tải đề thi</a>
            {% if document.doc %}
              <a href="{{document.doc.url}}" target="_blank" class="btn btn-success">Xem đề</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <nav aria-label="...">
      {% if documents.has_other_pages %}
        <ul class="pagination">
          {% if documents.has_previous %}
            <li class="page-item"><a class="page-link" href="{{searchdocument}}&page={{ documents.previous_page_number }}"> « </a></li> 
          {% else %}
            <li class="page-item disabled"><span class="page-link"> « </span></li>
          {% endif %}
    
          {% for i in documents.paginator.page_range %}
            {% if documents.number == i %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{searchdocument}}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
    
          {% if classes.has_next %}
            <li class="page-item"><a class="page-link" href="{{searchdocument}}page={{ documents.next_page_number }}"> » </a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link"> » </span></li>
          {% endif %}
        </ul>
      {% endif %}
      </nav>
</div>

<script>
  $('.toggle-event').change(function() {
    let cb = $(this);
    let documentId = cb.attr('document-id');
    let status = cb.prop('checked');
    let url = `/staff/set-document-status/${documentId}?status=${status?1:0}`;
    console.log('url=', url);
    $.ajax({
      url,
      type: "POST",
      success:function(result){
        alert('Cập nhật thành công!');
      },
      error: function(result){
        alert("Cập nhật thất bại , vui lòng thử lại!")
        cb.prop('checked', !status);
      }
    });
  });
</script>
{% endblock %}

